Source: gz-physics9
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 13),
               doxygen,
               libbullet-dev,
               libgz-cmake4-dev,
               libgz-common6-geospatial-dev,
               libgz-common6-graphics-dev,
               libgz-common6-profiler-dev,
               libgz-common6-testing-dev,
               libgz-math8-dev,
               libgz-math8-eigen3-dev,
               libgz-plugin3-dev,
               libgz-utils3-dev,
               libgz-utils3-cli-dev,
# DART from packages.o.o repositories
               libdart6.13-dev,
               libdart6.13-collision-bullet-dev,
               libdart6.13-collision-ode-dev,
               libdart6.13-external-convhull-3d-dev,
               libdart6.13-external-ikfast-dev,
               libdart6.13-external-odelcpsolver-dev,
               libdart6.13-utils-dev,
               libdart6.13-utils-urdf-dev,
               libsdformat15-dev
Vcs-Browser: https://github.com/gazebosim/gz-physics
Vcs-Git: https://github.com/gazebo-release/gz-physics9-release
Standards-Version: 4.5.1
Homepage: http://gazebosim.org/

Package: libgz-physics9-core-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake4-dev,
         libgz-math8-dev,
         libgz-plugin3-dev,
         libgz-physics9 (= ${binary:Version}),
         libgz-utils3-dev,
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Development files
 Gazebo Physics is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Core component, development files

Package: libgz-physics9-sdf-dev
Architecture: any
Section: libdevel
Depends: libgz-physics9-core-dev (= ${binary:Version}),
         libgz-cmake4-dev,
         libsdformat15-dev,
         libgz-physics9 (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - SDF Dev files
 Gazebo Physics is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 SDF component, development files

Package: libgz-physics9-mesh-dev
Architecture: any
Section: libdevel
Depends: libgz-physics9-core-dev (= ${binary:Version}),
         libgz-cmake4-dev,
         libgz-common6-geospatial-dev,
         libgz-common6-graphics-dev,
         libgz-physics9 (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Mesh Dev files
 Gazebo Physics is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Mesh component, development files

Package: libgz-physics9-heightmap-dev
Architecture: any
Section: libdevel
Depends: libgz-physics9-core-dev (= ${binary:Version}),
         libgz-cmake4-dev,
         libgz-common6-geospatial-dev,
         libgz-common6-graphics-dev,
         libgz-physics9 (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Heightmap Dev files
 Gazebo Physics is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Heightmap component, development files

Package: libgz-physics9
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Shared library
 Gazebo Physics is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Main shared library

Package: libgz-physics9-dartsim-dev
Architecture: any
Section: libdevel
Depends: libgz-physics9-core-dev (= ${binary:Version}),
         libgz-physics9-sdf-dev (= ${binary:Version}),
         libgz-physics9-mesh-dev (= ${binary:Version}),
         libgz-physics9-heightmap-dev (= ${binary:Version}),
         libgz-cmake4-dev,
         libgz-common6-geospatial-dev,
         libgz-common6-graphics-dev,
         libgz-math8-dev,
         libgz-math8-eigen3-dev,
         libgz-common6-dev,
         libgz-plugin3-dev,
         libsdformat15-dev,
         libgz-physics9-dartsim (= ${binary:Version}),
         ${misc:Depends}
# There is no public header that includes DART upstream headers in gz-physics-dartsim
# so dependencies are in Suggests.
# DART 6.12 from Ubuntu repositories is listed first so it avoids conflict on the
# platform and 6.13 the one used by the gz-physics-dartsim-plugin is also possible
# See https://github.com/gazebosim/gz-physics/issues/541
Suggests: libdart-dev (>= 6.12.1+dfsg4) | libdart6.13-dev,
         libdart-external-convhull-3d-dev (>= 6.12.1+dfsg4) | libdart6.13-external-convhull-3d-dev,
         libdart-collision-ode-dev (>= 6.12.1+dfsg4) | libdart6.13-collision-ode-dev,
         libdart-utils-urdf-dev (>= 6.12.1+dfsg4) | libdart6.13-utils-urdf-dev,
         libdart-utils-dev (>= 6.12.1+dfsg4) | libdart6.13-utils-dev,
         libdart-external-odelcpsolver-dev (>= 6.12.1+dfsg4) | libdart6.13-external-odelcpsolver-dev,
         libdart-external-ikfast-dev (>= 6.12.1+dfsg4) | libdart6.13-external-ikfast-dev,
         libdart-collision-bullet-dev (>= 6.12.1+dfsg4) | libdart6.13-collision-bullet-dev
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Development files
 Gazebo Physics is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Dartsim component, development files

Package: libgz-physics9-dartsim
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Dartsim library
 Gazebo Physics is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 DARTSim component shared library

Package: libgz-physics9-tpe-dev
Architecture: any
Section: libdevel
Depends: libgz-physics9-core-dev (= ${binary:Version}),
         libgz-physics9-sdf-dev (= ${binary:Version}),
         libgz-physics9-mesh-dev (= ${binary:Version}),
         libgz-cmake4-dev,
         libgz-math8-dev,
         libgz-math8-eigen3-dev,
         libgz-plugin3-dev,
         libsdformat15-dev,
         libgz-physics9-tpe (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Development files
 Gazebo Physics is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 TPE plugin component, development files

Package: libgz-physics9-tpe
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - TPE library
 Gazebo Physics is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 TPE plugin component shared library

Package: libgz-physics9-tpelib-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake4-dev,
         libgz-math8-dev,
         libgz-math8-eigen3-dev,
         libgz-plugin3-dev,
         libgz-physics9-tpelib (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Development files
 Gazebo Physics is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 TPE library component, development files

Package: libgz-physics9-tpelib
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - TPE library
 Gazebo Physics is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 TPE library component shared library

Package: libgz-physics9-bullet-dev
Architecture: any
Section: libdevel
Depends: libgz-physics9-core-dev (= ${binary:Version}),
         libgz-physics9-sdf-dev (= ${binary:Version}),
         libgz-physics9-mesh-dev (= ${binary:Version}),
         libgz-cmake4-dev,
         libgz-common6-geospatial-dev,
         libgz-common6-graphics-dev,
         libgz-math8-dev,
         libgz-math8-eigen3-dev,
         libgz-plugin3-dev,
         libbullet-dev,
         libsdformat15-dev,
         libgz-physics9-bullet (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Development files
 Gazebo Physics is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Bullet component, development files

Package: libgz-physics9-bullet
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Bullet engine
 Gazebo Physics is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Bullet component shared library

Package: libgz-physics9-dev
Architecture: any
Section: libdevel
Depends: libgz-physics9-core-dev (= ${binary:Version}),
         libgz-physics9-bullet-dev (= ${binary:Version}),
         libgz-physics9-dartsim-dev (= ${binary:Version}),
         libgz-physics9-heightmap-dev (= ${binary:Version}),
         libgz-physics9-mesh-dev (= ${binary:Version}),
         libgz-physics9-sdf-dev (= ${binary:Version}),
         libgz-physics9-tpe-dev (= ${binary:Version}),
         libgz-physics9-tpelib-dev (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Metapackage
 Gazebo Physics is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Metapackage, all development files
