Source: gz-physics7
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 13),
               libbullet-dev,
               libgz-cmake3-dev,
               libgz-common5-geospatial-dev,
               libgz-common5-graphics-dev,
               libgz-common5-profiler-dev,
               libgz-math7-dev,
               libgz-math7-eigen3-dev,
               libgz-plugin2-dev,
               libgz-utils2-dev,
               libgz-utils2-cli-dev,
# DART from Ubuntu repositories, 6.12.1 + OSRF patches
               libdart-dev (>= 6.12.1+dfsg4),
               libdart-collision-bullet-dev (>= 6.12.1+dfsg4),
               libdart-collision-ode-dev (>= 6.12.1+dfsg4),
               libdart-external-convhull-3d-dev (>= 6.12.1+dfsg4),
               libdart-external-ikfast-dev (>= 6.12.1+dfsg4),
               libdart-external-odelcpsolver-dev (>= 6.12.1+dfsg4),
               libdart-utils-dev (>= 6.12.1+dfsg4),
               libdart-utils-urdf-dev (>= 6.12.1+dfsg4),
               libsdformat14-dev
Vcs-Browser: https://github.com/gazebosim/gz-physics
Vcs-Git: https://github.com/gazebo-release/gz-physics7-release
Standards-Version: 4.5.1
Homepage: http://gazebosim.org/

Package: libgz-physics7-core-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-math7-dev,
         libgz-plugin2-dev,
         libgz-physics7 (= ${binary:Version}),
         libgz-utils2-dev,
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Development files
  Gazebo Physics is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Core component, development files

Package: libgz-physics7-sdf-dev
Architecture: any
Section: libdevel
Depends: libgz-physics7-core-dev (= ${binary:Version}),
         libgz-cmake3-dev,
         libsdformat14-dev,
         libgz-physics7 (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - SDF Dev files
  Gazebo Physics is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  SDF component, development files

Package: libgz-physics7-mesh-dev
Architecture: any
Section: libdevel
Depends: libgz-physics7-core-dev (= ${binary:Version}),
         libgz-cmake3-dev,
         libgz-common5-geospatial-dev,
         libgz-common5-graphics-dev,
         libgz-physics7 (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Mesh Dev files
  Gazebo Physics is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Mesh component, development files

Package: libgz-physics7-heightmap-dev
Architecture: any
Section: libdevel
Depends: libgz-physics7-core-dev (= ${binary:Version}),
         libgz-cmake3-dev,
         libgz-common5-geospatial-dev,
         libgz-common5-graphics-dev,
         libgz-physics7 (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Heightmap Dev files
  Gazebo Physics is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Heightmap component, development files

Package: libgz-physics7
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Shared library
  Gazebo Physics is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Main shared library

Package: libgz-physics7-dartsim-dev
Architecture: any
Section: libdevel
Depends: libgz-physics7-core-dev (= ${binary:Version}),
         libgz-physics7-sdf-dev (= ${binary:Version}),
         libgz-physics7-mesh-dev (= ${binary:Version}),
         libgz-physics7-heightmap-dev (= ${binary:Version}),
         libgz-cmake3-dev,
         libgz-common5-geospatial-dev,
         libgz-common5-graphics-dev,
         libgz-math7-dev,
         libgz-math7-eigen3-dev,
         libgz-common5-dev,
         libgz-plugin2-dev,
         libdart-dev (>= 6.12.1+dfsg4),
         libdart-external-convhull-3d-dev (>= 6.12.1+dfsg4),
         libdart-collision-ode-dev (>= 6.12.1+dfsg4),
         libdart-utils-urdf-dev (>= 6.12.1+dfsg4),
         libdart-utils-dev (>= 6.12.1+dfsg4),
         libdart-external-odelcpsolver-dev (>= 6.12.1+dfsg4),
         libdart-external-ikfast-dev (>= 6.12.1+dfsg4),
         libdart-collision-bullet-dev (>= 6.12.1+dfsg4),
         libsdformat14-dev,
         libgz-physics7-dartsim (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Development files
  Gazebo Physics is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Dartsim component, development files

Package: libgz-physics7-dartsim
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Dartsim library
  Gazebo Physics is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  DARTSim component shared library

Package: libgz-physics7-tpe-dev
Architecture: any
Section: libdevel
Depends: libgz-physics7-core-dev (= ${binary:Version}),
         libgz-physics7-sdf-dev (= ${binary:Version}),
         libgz-physics7-mesh-dev (= ${binary:Version}),
         libgz-cmake3-dev,
         libgz-math7-dev,
         libgz-math7-eigen3-dev,
         libgz-plugin2-dev,
         libsdformat14-dev,
         libgz-physics7-tpe (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Development files
  Gazebo Physics is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  TPE plugin component, development files

Package: libgz-physics7-tpe
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - TPE library
  Gazebo Physics is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  TPE plugin component shared library

Package: libgz-physics7-tpelib-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-math7-dev,
         libgz-math7-eigen3-dev,
         libgz-plugin2-dev,
         libgz-physics7-tpelib (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Development files
  Gazebo Physics is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  TPE library component, development files

Package: libgz-physics7-tpelib
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - TPE library
  Gazebo Physics is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  TPE library component shared library

Package: libgz-physics7-bullet-dev
Architecture: any
Section: libdevel
Depends: libgz-physics7-core-dev (= ${binary:Version}),
         libgz-physics7-sdf-dev (= ${binary:Version}),
         libgz-physics7-mesh-dev (= ${binary:Version}),
         libgz-cmake3-dev,
         libgz-common5-geospatial-dev,
         libgz-common5-graphics-dev,
         libgz-math7-dev,
         libgz-math7-eigen3-dev,
         libgz-plugin2-dev,
         libbullet-dev,
         libsdformat14-dev,
         libgz-physics7-bullet (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Development files
  Gazebo Physics is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Bullet component, development files

Package: libgz-physics7-bullet
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Bullet engine
  Gazebo Physics is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Bullet component shared library

Package: libgz-physics7-dev
Architecture: any
Section: libdevel
Depends: libgz-physics7-core-dev (= ${binary:Version}),
         libgz-physics7-bullet-dev (= ${binary:Version}),
         libgz-physics7-dartsim-dev (= ${binary:Version}),
         libgz-physics7-heightmap-dev (= ${binary:Version}),
         libgz-physics7-mesh-dev (= ${binary:Version}),
         libgz-physics7-sdf-dev (= ${binary:Version}),
         libgz-physics7-tpe-dev (= ${binary:Version}),
         libgz-physics7-tpelib-dev (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Physics classes and functions for robot apps - Metapackage
  Gazebo Physics is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Metapackage, all development files

Package: libignition-physics7-core-dev
Depends: libgz-physics7-core-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-physics7-sdf-dev
Depends: libgz-physics7-sdf-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-physics7-mesh-dev
Depends: libgz-physics7-mesh-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-physics7-heightmap-dev
Depends: libgz-physics7-heightmap-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-physics7
Depends: libgz-physics7, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-physics7-dartsim-dev
Depends: libgz-physics7-dartsim-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-physics7-dartsim
Depends: libgz-physics7-dartsim, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-physics7-tpe-dev
Depends: libgz-physics7-tpe-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-physics7-tpe
Depends: libgz-physics7-tpe, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-physics7-tpelib-dev
Depends: libgz-physics7-tpelib-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-physics7-tpelib
Depends: libgz-physics7-tpelib, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-physics7-bullet-dev
Depends: libgz-physics7-bullet-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-physics7-bullet
Depends: libgz-physics7-bullet, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-physics7-dev
Depends: libgz-physics7-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
